.element__like-disabled {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.element__like-disabled:checked + .element__like-checkbox {
    background-image: url(../../../images/like-black.png);
}

.element__like-disabled:hover + .element__like-checkbox {
    opacity: 0.5;
    cursor: pointer;
}
